# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.pdb
*.user
*.aps
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.opensdf
*.sdf
*.tlog
*.res
*.exp
*.sdf
**/.settings/**
*.optrpt
**.mod
**.u2d
**.dropbox.attr
VS/Feynman-cpp/My Advisor XE Results - Feynman-cpp/**
VS/Feynman-cpp/My Amplifier XE Results - Feynman-cpp/**
**/.vs/**
